.aside {
	background-color: var(--warna-container);
	position: fixed;
	right: 0;
	top: 0;
	border-left: 2px solid var(--warna03);
	padding: 2.5rem;
	width: 110px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
	transition: 0.5s;
}

.nav_list {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.nav_link:hover {
	color: var(--warna-text);
	transition: 0.3s;
}

.nav_link {
	font-size: 1.5rem;
	color: var(--warna03);
}

.nav_togle {
	position: fixed;
	top: 1.25rem;
	right: 1.85rem;
	cursor: pointer;
	height: 40px;
	width: 40px;
	background-color: var(--warna01);
	border: 1px solid #e8dfec;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transition: 0.5s;
}

@media screen and (max-width:  1024px) {
	.aside {
		right: -110px;
	}

	.nav_togle {
		display: flex;
	}

	.nav_togle-open {
		right: 120px;
	}

	.show-menu{
		right: 0;
	}

	.fa-xmark {
		font-size: var(--h2-font);
	}
}
