.main {
	margin-right: 110px;
}

@media screen and (max-width:  1024px) {
	.main {
		margin-right: 0;
	}
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--warna-container);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--warna03); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--warna02); 
}